body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Top navigation bar */
.navbar {
    background-color: #0A6DAF;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Section titles */
.section-title {
    margin-left: 25px;
}

.service-grid {
    background-color: #d9d9d9;
    padding: 30px;
    margin: 25px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 boxes per row */
    gap: 20px;  /* space between boxes */
}

/* Box Styling */
.box {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Hover effect */
.box:hover {
    background-color: #e6f3ff;
    border-color: #0A6DAF;
}

/* Responsive for mobile (1 column) */
@media (max-width: 600px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}

/* Tablet (2 columns) */
@media (max-width: 900px) {
    .service-grid {
        grid-template-columns: 1fr 1fr;
    }
}
/* Service box container */
.box-container {
    background-color: #d9d9d9;
    padding: 25px;
    margin: 25px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Individual boxes */
 .box{
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 1px solid #ccc;
    transition: 0.3s;
 }
/* Book button */
.book-btn {
    background-color:#376fa0;
    padding: 12px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    
    
}
.box-container.packages {
    background-color: #d9d9d9;
    padding: 25px;
    margin: 25px;
    border-radius: 20px;

}


/* Footer */
.footer {
    background-color: #0A6DAF;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
}

